<div>
  <div>
    <input type="text" [(ngModel)]="amount" />
  </div>
  <hr />
  <div>
    <button class="btn btn-primary" (click)="convert()">Submit</button>
  </div>
  <div *ngIf="disp">
    <table border="1">
      <thead>
        <tr>
          <th>Denominations count</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let objKey of counts | keyvalue; let j = index">
          <td>{{ objKey.denomination }}</td>
        </tr>
      </tbody>
    </table>

    <h3>The total count is: {{ total }}</h3>
  </div>
</div>
